body {
  background-color: rgba(238, 238, 238, 0.244) !important;
}
th {
  background-color: #172337;
}

th,
td {
  padding: 10px 10px;
  border: 1px solid #eee;
  border-width: 1px !important;
  max-width: 300px;
  word-wrap: break-word;
}
tr:nth-child(odd) {background-color: #8e8b8b2a;}
tr:hover {background-color: rgba(255, 191, 0, 0.845)}
table {
  border: 1px solid #eee;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(95, 94, 94);
  border-radius: 10px;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(65, 65, 65);
}

.table1::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

.dropDown:focus{
  outline: none;
}

@media(max-width:600px){
  .table1{
    width: calc(100% - 20px) !important;
  }
}